# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
myvenv/
lib/
lib64/

# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Distribution files
*.dist-info/

# System files
.DS_Store
Thumbs.db
myvenv/
node_modules/
myvenv/
node_modules/
static/output.css
static/tailwind.css
/home/stone/MyApp/static/tailwind.css
/home/stone/MyApp/static/output.css
